.header{
  background-color: #00aaaa;
  padding: 20px 10px;
}
.sidebars{
  float: left;
  width: 20%;
}
.body{
  float: right;
  width: 80%;
}
.images1{
  width: 30%;
  display: inline-block;
  padding: 10px;
}
.images2{
  width: 30%;
  display: inline-block;
  padding: 10px;
}
.footer{
  display: inline-block;
  width: 20%;
  float: right;

}
